<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{%static 'img/ci.png' %}" sizes="32x32">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>{% block title %}CODE-INK{% endblock title %}</title>
</head>
<body>
    <div id="container">
        <nav class="navbar  ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'base' %}">
                    <img class="neel" width="120" src="{%static 'img/Capture d’écran 2023-02-02 161103.png' %}" />
                </a>
                <img class="icon changeTheme" src="{%static 'img/jour-et-nuit.png' %}" alt="">
                {%if user.is_authenticated%}
                    <a class="lien" href=""></a>
                    <a class="lien" href=""></a>
                {%else%}
                    <a class="lien" href="{% url 'login' %}">Sign In</a>
                    <a class="lien" href="{% url 'registre' %}">Sign Up</a>
                {%endif%}
                {% if user.is_authenticated %}
                <div class="presence-indicator">
                    <div class="btn-group dropbottom">
                        <button style="background-color: transparent; border: none; color:black;" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                           <div class="presence-indicator__indicator"></div>{{ user.first_name }}
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        </ul>
                    </div>
                   
                </div>
                {% else %}
                <div class="btn-group drop">
                    <button style="background-color: transparent; border: none; color:black;" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      User
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a></li>
                    </ul>
                  </div>
                  {% endif %}


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% comment %} <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> {% endcomment %}


                </div>
            </div>
        </nav>

    </div>

{% block main-content %}


<main>
    <div id="affichage1" class="">
        <table>
            <tr>
            {% if request.user.is_authenticated %}
                <td><h3 id="GS">WELCOME <br/><p><h3 style="text-align:center; color:white;">{{ first_name }} {{last_name}} </h3></p></h3></td>                                                
            {% else %}  
                <td><h3 id="GS">GET STARTED WITH </h3></td>    
            {% endif %}
            </tr>
            <tr style="text-align: center;">
                <td><img id="ci" src="{%static 'img/ci.png' %}" alt=""></td>
            </tr>
        </table>
    </div>
    <div id="corps">
        <div id="rigth-box" style="width: 25rem; height: 800px;">
            {% if request.user.is_authenticated %}
                <nav class="nav flex-column">
                    <a class="nav-link hov" style="text-align: center;" href="{% url 'youtube' %}"><img src="{%static 'img/youtube.png' %}" style="width: 15px;" >&nbsp;&nbsp;Youtube</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">MATH</span>
                    <span class="nav-link" style="text-align: center">Intro Math</span>
                    <span class="nav-link" style="text-align: center">Maths expertes</span>
                    <a class="nav-link" style="text-align: center" href="{% url 'less' '6' %}">---More---</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">ALGO</span>
                    <span class="nav-link" style="text-align: center">Initiation à l'algorithmique</span>
                    <span class="nav-link" style="text-align: center">PASCAL</span>
                    <a class="nav-link" style="text-align: center" href="{% url 'less' '7' %}">---More---</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">RESEAU</span>
                    <span class="nav-link" style="text-align: center">CCNA-1</span>
                    <a class="nav-link" style="text-align: center" href="{% url 'less' '8' %}">---More---</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">DP</span>
                    <span class="nav-link" style="text-align: center">MINDSET DEVELOPMENT</span>
                    <a class="nav-link" style="text-align: center" href="{% url 'less' '9' %}">---More---</a>
                </nav>
            {%else %}
                <nav class="nav flex-column">
                    <a class="nav-link hov" style="text-align: center;" href="{% url 'login' %}"><img src="{%static 'img/youtube.png' %}" style="width: 15px;" >&nbsp;&nbsp;Youtube</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">MATH</span>
                    <span class="nav-link" style="text-align: center">Intro Math</span>
                    <span class="nav-link" style="text-align: center">Maths expertes</span>
                    <a class="nav-link hov" style="text-align: center" href="{% url 'login' %}">---More---</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">ALGO</span>
                    <span class="nav-link" style="text-align: center">Initiation à l'algorithmique</span>
                    <span class="nav-link" style="text-align: center">PASCAL</span>
                    <a class="nav-link hov" style="text-align: center" href="{% url 'login' %}">---More---</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">RESEAU</span>
                    <span class="nav-link" style="text-align: center">CCNA-1</span>
                    <a class="nav-link hov" style="text-align: center" href="{% url 'login' %}">---More---</a>
                    <span class="nav-link" style="text-align: center; color: purple; background-color: rgb(231, 231, 231);">DP</span>
                    <span class="nav-link" style="text-align: center">MINDSET DEVELOPMENT</span>
                    <a class="nav-link hov" style="text-align: center" href="{% url 'login' %}">---More---</a>
                </nav>
            {% endif %}
        </div>
        <div id="center-box" >

           

            <div class="row">
                {% for i in lescours %}
                <div class="card col-6" style="width: 22rem;">
                    <img style="max-height: 15px;" src="{%static 'img/rxpetoh_computer_science_tools_in_3D_with_a_purple_background_f68baeaf-cb60-4ccb-b3af-361810da4b68.png' %}" class="card-img-top" alt="...">
                    <br/>
                    <img class="card-img-top" width="5px" src="{{i.image.url}}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ i.category }}</h5>
                        <p class="card-text">{{ i.description }}</p>
                    </div>
                    <div class="card-body">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'less' i.id %}" class="card-link">Expand</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="card-link">Expand</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>  
                {% comment %} <div class="card col-6" style="width: 28rem;">
                        <img style="max-height: 15px;" src="{%static 'img/rxpetoh_computer_science_tools_in_3D_with_a_purple_background_f68baeaf-cb60-4ccb-b3af-361810da4b68.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                </div>           
            </div>

            <div class="row ligne">
                <div class="card col-6" style="width: 28rem;">
                    <img style="max-height: 15px;" src="{%static 'img/rxpetoh_computer_science_tools_in_3D_with_a_purple_background_f68baeaf-cb60-4ccb-b3af-361810da4b68.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">An item</li>
                      <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                  <div class="card col-6" style="width: 28rem;">
                    <img style="max-height: 15px;" src="{%static 'img/rxpetoh_computer_science_tools_in_3D_with_a_purple_background_f68baeaf-cb60-4ccb-b3af-361810da4b68.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">An item</li>
                      <li class="list-group-item">A second item</li>
                      <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                </div>
           
            </div> {% endcomment %}
        </div>

    </div>
    

</main>


<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock main-content %}







    <footer class="container-fluid bas text-center p-2 mt-5 fixed-bottom 0"> <strong><a href="www.facebook.com"> <img class="icon" src="{% static 'img/facebook.png' %}" alt=""></a> <a href="www.twitter.com"><img src="{% static 'img/twitter.png' %}" class="icon" alt=""></a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Copyright by IAI Students | Realised by Code-ink-Corp &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <a href="www.instagram.com" > <img class="icon" src="{% static 'img/instagram.png' %}" alt=""> </a> <a href="www.instagram.com" > <img class="icon" src="{% static 'img/email.png' %}" alt=""> </a> </strong></footer>
    <script>
        const switchButton = document.querySelector('.changeTheme');
        let toggleTheme = 0;
        
        switchButton.addEventListener('click',() => {
            if (toggleTheme === 0) {
                document.documentElement.style.setProperty('--ecriture','#ffffff');
                document.documentElement.style.setProperty('--bg1','#262626');
                document.documentElement.style.setProperty('--bg2','0 20PX 40px 0px rgb(108, 81, 108)');
                toggleTheme++;
            }else{
                document.documentElement.style.setProperty('--ecriture','#262626');
                document.documentElement.style.setProperty('--bg1','#ffffff');
                document.documentElement.style.setProperty('--bg2','0 20PX 40px 0px rgb(215, 184, 215)');

            
                toggleTheme--;
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>
</html>
