:root{
    --ecriture: #262626;
    --bg1: #ffffff;
    --bg2: 0 20PX 40px 0px rgb(215, 184, 215);
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}
main{
        background-color: var(--bg1);

}
.hov:hover{
    background-color: rgb(245, 186, 245);
}
#container{
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 0 50px rgb(229, 226, 226);
    height: 80px;
    background-color: var(--bg1);
}
.navbar{
    background-color: white;
    height: 60px;
    box-shadow:  0 0 20px 2px rgb(207, 205, 205);
    z-index: 1000;
    border-radius: 780px;
    top: 7px;
    margin-right: 60px;
    margin-left: 60px;
}
.bas{
    background-color: var(--bg1);
    font-size: x-small; 
    color: var(--ecriture);
}
#ci{
    margin-top: 0px;
    width: 200px;
}
#affichage1{
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px rgb(241, 241, 241);
    border-radius: 40px;
    padding-bottom: 30px;
    transition: all 3s;

}
#affichage1{
    position: relative;
    border: 0px solid black;
    width: 100%;
    background-image: url("liki_a_image_in_a_format_1980x826_that_display_a_graduation_cap_df43577c-8edb-4bfe-b3c5-411336acf245.png");
    background-size: cover;
    background-repeat: no-repeat;

    animation-name: diapo1;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;    
}
@keyframes diapo1 {
    0%{background-image:url("liki_a_image_in_a_format_1980x826_that_display_a_graduation_cap_df43577c-8edb-4bfe-b3c5-411336acf245.png");}
    33%{ background-image:url("liki_a_image_in_a_format_1980x826_that_display_a_graduation_cap_f0b73ea7-d10a-4d4c-a65f-574ef7080aac.png"); }
    66%{ background-image: url("liki.png");}
}
#affichage1:hover{
    box-shadow: 0 20px 20px rgb(122, 75, 122);
    transform: translateY(-10px);
    transition: all 1s;
}
#GS{
    color: rgb(255, 255, 255);
    font-size: 90;
}
.bt{
    background-color: purple;
}
#corps{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
#rigth-box{
    height: 580;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: var(--bg2);
    justify-content: flex-start;
    margin-right: 50px;
    background-color: var(--bg1);
}
#center-box{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.card{
    margin-bottom: 20px;
    margin-right: 20px;
    transition: all 1s;
    background-color: var(--bg1);

}
.card:hover{
    box-shadow: 0 20px 20px rgb(203, 5, 203);
    transform: translateY(-18px);
    transition: all 1s;
}
.icon{
    width: 25px;
}
.lien{
    text-decoration: none;
    color: #262626;
}
.lien:hover{
    color: purple;
}

#block{
    display: absolute;
    right: 40px;
}
/*                                      














*/


.form h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#boxx h1 p{
    margin: auto;
    margin-top: 150px;
}
.box{
    top: 300px;
    margin: auto;
    margin-top: 150px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgb(197, 197, 197);
}

.form{
    text-align: center;
    padding: 20px;
}
input{
    border: none;
    background: transparent;
    border-bottom: 3px solid rgb(196, 22, 155);
    color: rgb(103, 103, 103);
    text-align: center;
}
input::placeholder{
    color: rgb(77, 76, 76);
    text-align: center;
}
















#ytb{
    display: grid;
    place-items: center;
    padding-top: 30px;
}
h3{
     color: purple;
}
.inp{
    border: none;
    border-bottom: 2px solid purple;
}
input::placeholder{
    text-align: center;
}
.sub{
    background-color: white;
    color: purple;
    font-weight: bold;
    border-radius: 10px;
}
.carte{
    box-shadow: 0 20px 20px rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid gray;
}
.carte:hover{
     box-shadow: 0 20px 20px rgb(215, 184, 215);
    transform: translateY(-10px);
    transition: all 1s;
}








.presence-indicator {
    position: relative;
}

.presence-indicator__indicator {
    /* Shown at the bottom right corner */
    top: 13.2px;
    position: relative;
    right: 17px;
    transform: translate(50%, 50%);

    /* Rounded border */
    border-radius: 9999px;
    height: 0.5rem;
    width: 0.5rem;

    /* Background color */
    background-color: #22c55e;
}